<div class="navbar navbar-default  ">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Qdero</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a href="">Default</a></li>

          </ul>
        </li>
        <li>
          <a routerLink="/about">About</a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login" *ngIf="!loggedIn">Login</a></li>
        <li><a routerLink="/register" *ngIf="!loggedIn">Register</a></li>
        <li><a routerLink="/dashboard" *ngIf="loggedIn">Dashboard</a></li>
        <li><a (click)="onLogout()" routerLink="/login" *ngIf="loggedIn">Logout</a></li>
      </ul>

    </div>
  </div>
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

