
<div class="container-fluid">
  <div class="grid-item">
    <div class="container-fluid text-left">
       <div class="col-md-3">
         <h1>BT123</h1> <h4>Teacher Name<br><small>id123</small></h4>
         <div class="thumbnail">
           <div class="container-fluid ">
              <h3>Announcements</h3>
             <hr>
             <div class="list-group text-left">
               <a class="list-group-item ">

                 <p class="list-group-item-text"><b>@Teacher</b> No Class Tomorrow </p>

               </a>
               <a class="list-group-item ">

                 <p class="list-group-item-text"><b>@Teacher</b> Read Paper for the next class </p>

               </a>
             </div>
           </div>
         </div>
       </div>
      <div class="col-md-6">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Disscussions</a></li>
          <li role="presentation"><a href="#">Descripton</a></li>
          <li role="presentation"><a href="#">Course Structrue</a></li>
        </ul>
        <div class="thumbnail text-center">
          <h2><b>Messages</b></h2>
          <div class="container-fluid">
            <div class="well">
              Wrap any text and an optional dismiss button in .alert and one of the four contextual classes (e.g., .alert-success) for basic alert messages.
              <b><h4 class="text-right">@teacher</h4></b>
            </div>
            <div class="well">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/sv2Ps1rOFAI" frameborder="0" allowfullscreen></iframe>              </div>
              <b><h4 class="text-right">@teacher</h4></b>
            </div>
            <div class="well">
            Wrap any text and an optional dismiss button in .alert and one of the four contextual classes (e.g., .alert-success) for basic alert messages.
            <b><h4 class="text-right">@teacher</h4></b>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-3">
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#">My Assignements</a></li>
          <li role="presentation"><a href="#">My Projects</a></li>
          <!--<li role="presentation"><a href="#">Messages</a></li>-->
        </ul>
        <hr>
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Assignment Name</h3>
            <p>Due Date</p>
            <button class="btn btn-info btn-sm">Submit</button>
            <button class="btn btn-sm">Download</button>
          </div>
          <app-assignment *ngFor="let item of assignments" [assignment] = "item">
          </app-assignment>
        </div>
  </div>
</div>
  </div>
</div>
