
<div class="container-fluid">
  <div class="row">
    <div class="well">
      <div class="container" >
        <button class="btn btn-success" (click)="loginTeacher()">Login As A Teacher</button>
        <button class="btn btn-primary" (click)="loginStudent()">Login As A Student</button>
      </div>
    </div>
  </div>
  <div class="grid-item" *ngIf="loggedIn">
    <div class="container-fluid text-left">
       <div class="col-md-3">
         <h1>{{mCourseBoard.courseId.toString()}}</h1> <h4>Teacher Name<br><small>id123</small></h4>
         <div class="thumbnail">
           <div class="container-fluid ">
              <h3>Announcements</h3>
             <hr>
             <div class="input-group" *ngIf="mUser.type">
               <input type="text" class="form-control" #announce placeholder="Make An Announcement">
               <span class="input-group-btn">

                <button class="btn btn-default" type="button" (click)="makeAnnouncement(announce.value)">Send</button>
              </span>
             </div><!-- /input-group -->
             <div class="list-group text-left">
               <a class="list-group-item ">

                 <p class="list-group-item-text"><b>@Teacher</b> No Class Tomorrow </p>

               </a>
               <a class="list-group-item ">

                 <p class="list-group-item-text"><b>@Teacher</b> Read Paper for the next class </p>

               </a>
             </div>
           </div>
         </div>
       </div>
      <div class="col-md-6">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a (click)="toggleThis(2)">Disscussions</a></li>
          <li role="presentation" ><a (click)="toggleThis(1)" >Descripton</a></li>
          <li role="presentation"><a (click)="toggleThis(3)">Course Structrue</a></li>
        </ul>
        <div class="thumbnail text-center" *ngIf="disscussion" >
          <h2><b>Messages</b></h2>
          <div class="container-fluid message-container">
            <div class="input-group">
              <input type="text" class="form-control" #message placeholder="Drop Message">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="dropMessage(message.value)">Go!</button>
              </span>
            </div><!-- /input-group -->
            <div [innerHTML]="item.message | safeHtml" class="well" *ngFor="let item of messages ">
                          <!--{{item.message}}-->
              <b><h4 class="text-right">@{{item.id}} {{item.courseId}}</h4></b>
            </div>
        </div>
        </div>
          <div class="thumbnail text-center" *ngIf="discription" >
          <h2><b>Course Discription</b></h2>
          <div class="container-fluid">
             <p>{{mCourseBoard.description}}</p>
          </div>
        </div>
        <div class="thumbnail text-center" *ngIf="courseStructure" >
          <h2><b>Course Discription</b></h2>
          <div class="container-fluid">
             <p>{{mCourseBoard.description}}</p>
          </div>
        </div>



    </div>
      <div class="col-md-3">
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#">My Assignements</a></li>
          <li role="presentation"><a href="#">My Projects</a></li>
          <!--<li role="presentation"><a href="#">Messages</a></li>-->
        </ul>
        <hr>
        <div class="panel panel-default"  >
          <div class="panel-body" *ngIf="!mUser.type " >
            <!--<h3>Assignment Name</h3>-->
            <!--<p>Due Date</p>-->
            <!--<button class="btn btn-info btn-sm">Submit</button>-->
            <!--<button class="btn btn-sm">Download</button>-->

          <app-assignment  *ngFor="let item of assignments" [assignment] = "item" [userType]="mUser.type" >
          </app-assignment >
        </div>
          <h3>Add Assignments</h3>
          <div class="panel-body" *ngIf="mUser.type" >
            <div class="thumbnail">

            </div>
            <app-assignment  *ngFor="let item of assignments" [assignment] = "item" [userType]="mUser.type" (onEdit)="onEdit($event)" (onDelete)="onDelete($event)">
            </app-assignment >
          </div>

        </div>
  </div>
</div>
  </div>
</div>






<!---->
